@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Work+Sans:wght@400;500;600&display=swap');

/* TODO: For accesibility we can add a button to change fonts and background colour */

/* GLOBAL */ 

body {
	font-family: 'Gugi', cursive, 'Work Sans', sans-serif; 
	font-size: 14px;
	line-height: 1.5;
	background-color: #000312;
	color: #FFF500;
	padding: 3em 3em;
}

/* INDEX */

#intro h1 {
	font-size: 35px;
}

#intro img {
	width: 80%;
	margin: 2em auto;
	display: block;
}

#intro h3 {
	font-size: 24px;
	letter-spacing: 0.2em;
	line-height: 30px;
	padding-bottom: 1em;
}

#intro .scrollable-text {
	height: 30vh;
	overflow-y: scroll;
}

#intro .scrollable-text p {
	padding-right: 1em;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: 0.2em;
}

#intro-footer {
	padding-bottom: 3em;
	position: fixed;
	bottom: 0;
	right: 0;	
	width: 100%;
}

#intro-footer div.flex-container
{
	display: flex;
	justify-content: center;
	align-items: center;
}

#intro-footer button {
	font-family: 'Gugi', cursive, 'Work Sans', sans-serif; /* the one on the body didn't work */
	background-color:  #FFF500;
	border: solid 1px  #FFF500;
	border-bottom-right-radius: 10px;
	color: #000312;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 35px;
	min-width: 280px;
	cursor: pointer;
}
  
#intro-footer button:hover{
	background-color: #000312;
	color: #FFF500;
}

/* LAYOUT */



/* EXHIBIT */




/* OTHER - css stathis put here at the start */

/*
a {
	color: #ffffff;
	text-decoration: none;
}


header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


header h1 {
	width: 64px;
}
*/


header nav a {
	margin-left: 10px;
	/* hover transition */
	transition: border 0.3s ease-in;
	/* we can add transition delay as well adding a second number above transition: border 0.3s 2s ease-in; */
	border-bottom: solid 2px rgba(0, 0, 0, 0);
	padding-bottom: 3px;
}


/*
header nav a:hover {
	border-bottom: solid 2px #555;
}
*/

header nav a.selected {
	/* if we had only the selected */
	/* border-bottom: 2px solid #ffffff;
	padding-bottom: 3px; */
	/* if we specify the header nav a.selected then we manage to keep the selected with no overlay */
	border-color: #ffffff;
}

/*
footer {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

*/

/* Media Queries */


@media (max-width: 940px) {
	

}

@media (max-width: 680px) {

	

}

	@media (max-width: 450px) {
		
	}
