@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Work+Sans:wght@400;500;600&display=swap');

/* TODO: For accesibility we can add a button to change fonts and background colour */

/* GLOBAL */ 

body {
	font-family: 'Gugi', cursive, 'Work Sans', sans-serif; 
	font-size: 14px;
	line-height: 1.5;
	background-color: #000312;
	color: #FFF500;
	padding: 2em 3em;
}

h1 {
	font-size: 30px;
}


/* INDEX */
#intro img {
	height: 20vh;
	margin: 2em auto;
	display: block;
}

#intro h3 {
	font-size: 22px;
	letter-spacing: 0.2em;
	line-height: 30px;
	padding-bottom: 0.7em;
}

#intro .scrollable-text {
	height: 28vh;
	overflow-y: scroll;
}

#intro .scrollable-text p {
	padding-right: 1em;
	font-size: 10px;
	line-height: 18px;
	letter-spacing: 0.2em;
}

#intro-footer {
	padding-bottom: 2em;
	padding-top: 2em;
	position: fixed;
	background-color: #000312;
	bottom: 0;
	right: 0;	
	width: 100%;
}

#intro-footer div.flex-container
{
	display: flex;
	justify-content: center;
	align-items: center;
}

#intro-footer button {
	font-family: 'Gugi', cursive, 'Work Sans', sans-serif; /* the one on the body didn't work */
	background-color:  #FFF500;
	border: solid 1px  #FFF500;
	border-bottom-right-radius: 10px;
	color: #000312;
	padding: 7px 25px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 22px;
	min-width: 220px;
	cursor: pointer;
}
  
#intro-footer button:hover{
	background-color: #000312;
	color: #FFF500;
}

/* LAYOUT */

#layout-header {
	padding-bottom: 1em;
	padding-top: 1em;
	padding-left: 3em;
	
	position: fixed;
	background-color: #000312;
	top: 0;
	right: 0;	
	width: 100%;
	box-shadow: 0px 5px 7px #fff7002c;

	z-index: 10;
}

#layout-header a {
	color: #FFF500;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
}

#layout-header i {
	font-size: 11px;
}

#layout h1 {
	margin-top: 1.5em;
}

#map {
	height: 30vh;
	margin: 2em auto 3.5em auto;
}

.p5 {
	position: relative;
	z-index: -1;
}

#art-works-list hr {
	border-color: #656669;
}

.art-work
{
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 16px;
	margin: 0.7em auto;
}
.art-work img
{
	width: 50px;
  	height: 50px;
	object-fit: cover;
}

.art-work .title {
	margin-left: 1em;
}

/* EXHIBIT */




/* OTHER - css stathis put here at the start */

/*
a {
	color: #ffffff;
	text-decoration: none;
}


header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


header h1 {
	width: 64px;
}
*/


header nav a {
	margin-left: 10px;
	/* hover transition */
	transition: border 0.3s ease-in;
	/* we can add transition delay as well adding a second number above transition: border 0.3s 2s ease-in; */
	border-bottom: solid 2px rgba(0, 0, 0, 0);
	padding-bottom: 3px;
}


/*
header nav a:hover {
	border-bottom: solid 2px #555;
}
*/

header nav a.selected {
	/* if we had only the selected */
	/* border-bottom: 2px solid #ffffff;
	padding-bottom: 3px; */
	/* if we specify the header nav a.selected then we manage to keep the selected with no overlay */
	border-color: #ffffff;
}

/*
footer {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

*/

/* Media Queries */


@media (max-width: 940px) {
	

}

@media (max-width: 680px) {

	

}

	@media (max-width: 450px) {
		
	}
